/* Основной контейнер на всю страницу */
.full-page-form {
    display: flex; /* Используем flexbox */
    align-items: center; /* Центрируем по вертикали */
    justify-content: center; /* Центрируем по горизонтали */
    min-height: 100vh; /* Высота экрана */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Внутренний контейнер формы */
.resume-form-wrapper {
    background: white;
    padding: 100px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Тень */
    width: 100%; /* Занимает всю ширину родителя */
    max-width: 1400px; /* Ограничиваем ширину */
    text-align: center;
    transition: all 0.3s ease;

}

/* Стили для формы */
.resume-form {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Расстояние между полями */
}

.resume-form label {
    font-weight: bold;
    color: #555;
    text-align: left;
    display: block;
    margin-bottom: 5px;

}

.resume-form input,
.resume-form textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    box-sizing: border-box;
}

.resume-form input:focus,
.resume-form textarea:focus {
    border-color: #8e9eab;
    outline: none;
    box-shadow: 0 0 5px rgba(142, 158, 171, 0.5);
}

/* Кнопка отправки */
.btn-submit {
    padding: 15px 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #00b300;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-submit:hover {
    background-color: #008000;
    transform: translateY(-2px);
}

/* Мобильная адаптация */
@media (max-width: 768px) {
    .resume-form-wrapper {
        width: 95%; /* Расширяем ширину для маленьких экранов */
        padding: 20px;
    }

    .resume-form input,
    .resume-form textarea {
        padding: 12px;
        font-size: 14px;
    }

    .btn-submit {
        font-size: 16px;
        padding: 12px 16px;
    }
}