{% extends "base.html" %}
{% block title %}Post detail{% endblock %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if form.instance.pk %}Редактировать вакансию{% else %}Создать вакансию{% endif %}</title>
</head>
<body>
    <h1>{% if form.instance.pk %}Редактировать вакансию{% else %}Создать вакансию{% endif %}</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% if form.instance.pk %}Сохранить изменения{% else %}Создать вакансию{% endif %}</button>
    </form>

    <a href="{% url 'job_list' %}">Вернуться к списку вакансий</a>
</body>
{% endblock %}